asgiref
Django
django-filter
djangorestframework
drf-yasg
inflection
packaging
python-dotenv
pytz
PyYAML
sqlparse
tzdata
uritemplate
PyMySQL



# Base de datos PostgreSQL
psycopg2-binary

# Para despliegue
dj-database-url
gunicorn
whitenoise


